# Created by https://www.gitignore.io/api/java,netbeans

### Java ###
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/


# End of https://www.gitignore.io/api/java,netbeans
/Expresiones/nbproject/private/
/ConsumoCamion/nbproject/private/
/ProbasAsignacions/nbproject/private/
/JavaApplication4/nbproject/private/
/NominaEmpleado/nbproject/private/
/NominaEmpleadoScanner/nbproject/private/
/BibliotecaBufferedReader/nbproject/private/
/PrecioArticulo/nbproject/private/
/BibliotecaScanner/nbproject/private/
/PrecioArticuloBufferedReader/nbproject/private/
/PrecioArticuloScanner/nbproject/private/
/DescuentoEnNominaBR/nbproject/private/
/DescuentoEnNominaSc/nbproject/private/
/DescuentoEnNominaSC/nbproject/private/
/DescuentoEnNominaScanner/nbproject/private/
/metodoCamion/nbproject/private/
/ObjetoBiblioteca/nbproject/private/
/descNominaMetodo/nbproject/private/
/PrecioArticuloMetodo/nbproject/private/
/Condicional1/nbproject/private/
/CompañiaSeguros/nbproject/private/
/Drogueria/nbproject/private/
/EjemplosDeCondicional/nbproject/private/
/Toxicidad/nbproject/private/
/Mayormenor/nbproject/private/
/PuestoTrabajo/nbproject/private/
/ToxicidadSwitch/nbproject/private/
/DrogueriaSwitch/nbproject/private/
/Inmobiliaria/nbproject/private/
/InmobiliariaSwitch/nbproject/private/
/AgenciaViajesJerarquizada/nbproject/private/
/AgenciaViajesSwitch/nbproject/private/
/numerosDivisibles/nbproject/private/
/Factorial/nbproject/private/
/EmpleadoMejorPagado/nbproject/private/
/EstadoCivil/nbproject/private/
/Encuesta/nbproject/private/
/TablaMultiplicar/nbproject/private/
/Temperaturas/nbproject/private/
/PracticaArrays/nbproject/private/
/NotasExamen/nbproject/private/
/ClientesBancarios/nbproject/private/
/proba/nbproject/private/
/ClientesBancarios2/nbproject/private/
/ArrayBidimensionalPrecios/nbproject/private/
/PrestacionesCoches/nbproject/private/
/AlturasJugadores/nbproject/private/
/AlturasJugadores2/nbproject/private/
/probarr/nbproject/private/
/JavaApplication19/nbproject/private/
/AlturasJugadoresAO/nbproject/private/
/LibrosAL/nbproject/private/
/Java 1ª Evaluación/ArrayBidimensionalPrecios2/nbproject/private/
/Java 2ª Evaluación/ColeccionNumeros/nbproject/private/
/Java 2ª Evaluación/CuentasCorriente/nbproject/private/
/Java 2ª Evaluación/LibrosAutores/nbproject/private/
/Java 2ª Evaluación/SociosEmpleados/nbproject/private/
/Java 2ª Evaluación/AlumnosCamiones/nbproject/private/
/Java 2ª Evaluación/EmpleadoFijoTemporal/nbproject/private/
/Java 2ª Evaluación/CochesNuevosUsados/nbproject/private/
/Java 2ª Evaluación/AlumnosPila/nbproject/private/
/Java 2ª Evaluación/YoguresCola/nbproject/private/
/Java 2ª Evaluación/EnsaladasLista/nbproject/private/